<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 객체를 생성한 것 -->
<bean id="msgBeanKr" class="com.itwill.web.MsgBeanKr"/>
<!-- xml이 스프링의 역할을 할 것.. 
	여기에 만들어진 객체들이 저장될거야
	이걸 다른곳에서 이용하면 됨!!!! -->



</beans>
